<h2>Welcome to the password protected area</h2>

{{#if username}}
    <p>Hello, {{username}}, you signed up locally</p>
{{/if}}

{{#if twitterName}}
    <p>Hello {{twitterName}}, you signed up with Twitter.</p>
{{/if}}

<p>You signed up on {{signupDate}}</p>

<h3>Your favorite things</h3>

<p>Your favorite color is
    {{#if favorites.color}}
        {{favorites.color}}
    {{else}}
        not set
    {{/if}}
</p>

<p>You lucky number is
    {{#if favorites.luckyNumber}}
        {{favorites.luckyNumber}}
    {{else}}
        not set
    {{/if}}
</p>

<h3>Update your favorites things</h3>

<ul>
    {{#each messages}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<form action="/saveSecrets" method="POST">
    Favorite Color: <input type="text" name="color"/><br>
    Lucky Number: <input type="number" name="luckyNumber"/><br>
    <input type="submit" name="updateSecrets" value="Update Secrets">
</form>

<a href="/logout">Log out</a>